<!--Filter -->
<div class="border-b border-gray-900/10 pb-12 min-w-full">
  <%= search_form_for query, url: drugs_path do |form| %>
    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="sm:col-span-3">
        <label for="drug Name" class="block text-sm font-medium leading-6 text-gray-900">Drug Name</label>
        <div class="mt-2">
          <%= form.search_field :name_cont,  class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"%>
        </div>
      </div>

      <div class="sm:col-span-3">
        <label for="Company Name" class="block text-sm font-medium leading-6 text-gray-900">Company Name</label>
        <div class="mt-2">
          <%= form.search_field :company_cont,  class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"%>
        </div>
      </div>

      <div class="sm:col-span-3">
        <label for="Price more than" class="block text-sm font-medium leading-6 text-gray-900">Price more than</label>
        <div class="mt-2">
          <%= form.search_field :price_gt,  class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"%>
        </div>
      </div>

      <div class="sm:col-span-3">
        <label for="Price less than" class="block text-sm font-medium leading-6 text-gray-900">Price less than</label>
        <div class="mt-2">
        <%= form.search_field :price_lt, class: "mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-3">
        <label for="amount more than" class="block text-sm font-medium leading-6 text-gray-900">Amount more than</label>
        <div class="mt-2">          
          <%= form.search_field :amount_gt, class: "mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-3">
        <label for="amount less than" class="block text-sm font-medium leading-6 text-gray-900">Amount less than</label>
        <div class="mt-2">
          <%= form.search_field :amount_lt,  class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"%>
        </div>
      </div>
    </div>
    <div class="mt-6 flex items-center justify-end gap-x-6">
      <%= link_to 'Clear', drugs_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
      <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Search</button>
    </div>
  <% end %>
</div>
