<div class="px-4 sm:px-6 lg:px-8 w-full">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Drugs</h1>
      <p class="mt-2 text-sm text-gray-700">A list of all the drugs from <%= @company_name.capitalize %></p>
    </div>
    <div class="w-auto flex justify-space">
     
    </div>
  </div>
  <div>
    <%= render 'filter', query: @query %>
  </div>
    <div class="mt-8 flow-root">
      <div>
        <p>Total amount: <%= @total_amount %></p>
        <p>Total price: <%= @total_price %></p>
        <p>countity: <%= @countity %> </p>
      </div>
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0"><%= sort_link(@query, :name, 'Name', default_order: :desc) %></th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= sort_link(@query, :amount, 'Amount', default_order: :desc) %></th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= sort_link(@query, :price, 'Price', default_order: :desc) %></th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= sort_link(@query, :deadline, 'deadline', default_order: :desc) %></th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= sort_link(@query, :company, 'Company', default_order: :desc) %></th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Is Expired</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"></th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              <% @drugs_from_same_company.each do |drug| %> 
                <tr>
                  <%= render 'drug', drug: %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
  </div>
  <div class="flex mt-10">
    <%= paginate @drugs_from_same_company, views_prefix: 'shared' %>
  </div>
</div>

